@import "themes/everforest.css";

* {
  font-family: JetBrainsMono, SymbolsNerdFont;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: @base;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0;
}

#cpu {
  background: @black;
  color: @text;
  padding: 0 10px 0 0px;
  margin: 4px 0;
  border-radius: 0 6 6 0;
}

#memory {
  background: @black;
  color: @text;
  padding: 0 30px 0 15px;
  margin: 4px 0;
  border-radius: 0 6 6 0;
}

#workspaces {
  background-color: @black;
  margin: 4px 5px 4px 5px;
  border-radius: 6;
}

#workspaces button {
  background-color: @black;
  color: @text;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px #343f44;
  border-radius: 0;
}

#workspaces button:hover {
  background-color: @black;
  color: @text;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px #343f44;
  border-radius: 0;
}

#workspaces button.active {
  background-color: @black;
  color: @text;
  padding: 0 4px;
  margin: 2px 5px 0 5px;
  border-bottom: solid 2px @text;
  border-radius: 0;
}
#window {
  margin: 0px 20px 0 0px;
  color: @text;
  font-size: 15px;
}
#tray {
  background: @black;
  color: @text;
  padding: 0 15px 0 15px;
  margin: 4px 0 4px 0;
  border-radius: 6 0 0 6;
}
#pulseaudio {
  background: @black;
  color: @text;
  padding: 0 15px 0 15px;
  margin: 4px 0px 4px 0;
}

#language {
  background: @black;
  color: @text;
  padding: 0;
  margin: 4px 0 4px 0;
  border-bottom: solid 2px @text;
  border-radius: 0;
}

#clock {
  background: @black;
  color: @text;
  padding: 0 15px 0 29px;
  margin: 4px 10px 4px 0;
  border-radius: 0 6 6 0;
  font-size: 14px;
}

#network {
  color: @text;
}

#tray-expander {
  color: @text;
}
